<div class="container mt-5 card">
    <div class="card-body">
        <h3 class="card-header"> {{album.id}} {{album.title}} </h3>
        <h6 class="card-title">Name: {{album.name}} </h6>
        <p class="card-text"> {{album.description}} </p>
        <p>Duration: {{album.duration }} </p>
        <p>Like: {{album.like }} </p>
        <span *ngFor="let tag of album.tags" class="tags"> {{tag}} </span>
        <div class="image"><img class="card-img-top" [src]="" alt="album image"></div>
    </div>
    :!ù
</div>