<div class="container mt-5">
    <div class="card">
      <img [src]="album.url" class="card-img-top" alt="Image de l'album">
      <div class="card-body">
        <h4 class="card-title">{{album.title}}</h4>
        <p class="card-text">Name: {{album.name}}</p>
        <button class="btn btn-primary" (click)="play()">Play >> </button>
        
        <!-- Barre de progression -->
        <div class="progress mt-3" *ngIf="isPlaying">
          <div class="progress-bar" role="progressbar" [style.width.%]="progress">
          </div>
        </div>
      </div>
      <h5>List of songs</h5>
      <ol class="list-group card" >
        <p class="card-body">
          <li class="list-item " *ngFor=" let track of album.tracks"><a class="card-text" href="#"> {{track.title}} </a></li>
        </p>
      </ol>
    </div>
  </div>
  