<div class="container">
    <h1> {{titlePage}} </h1>
    <div class="albums-details-wrapper">
        <div class="details" *ngIf="hasClickDetails">
            <app-album-details [album]="selectedAlbum"></app-album-details>
        </div>

        <ul *ngIf="albums" class="albums-list">
            <div *ngFor="let album of albums" class="card album-card">
                <div class="card-body">
                    <p class="card-header"> {{album.id}} {{album.ref}} </p>
                    <h2 class="card-title">
                        <a class="text-info" routerLink="/album/{{album.id}}">{{album.title}}</a>
                    </h2>
                    <p class="card-text"> {{album.description}} </p>
                    <div *ngIf="album.tags" class="tags-container">
                        <span *ngFor="let tag of album.tags" class="tag"> {{tag}} </span>
                    </div>
                    <button class="btn btn-primary">en</button>
                    <span *ngIf="album.like"> 🖤 {{album.like}}</span>
                    <span *ngIf="album.duration"> 🕑 {{album.duration}} min </span>
                    <button class="btn btn-primary" (click)="onSelect(album.id)">Details</button>
                </div>
            </div>
        </ul>
    </div>
</div>
